@charset "utf-8";
/* CSS Document */

* { font-family: 'Gabriela', serif; }


html {
  background-color: #fff; 
}

body {
  width: 800px;
  margin: auto;
}


a {
  color: #00c;
  text-decoration: none;
}

a:hover{
  color: #44f;
}

.header{
  text-align: center;
}

.main{
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  color: #333; 
}

.navigation{
  text-align: center;
}

.footer{
  margin-top: 200px;
  text-align: center;
  color: #ccc;
}

#recaptcha_area
{
    margin: 0 auto;
}